<!doctype html>
<html>
<head>
    <title>Swiftmeet</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>

{% include 'includes/navbar.html' %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script>
    $(document).ready(function(){
        $('ul.errorlist').hide();
    })
</script>
</body>
</html>